<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url"           content="https://coronaquiz.herokuapp.com/" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="اختبار كورونا" />
    <meta property="og:image"         content="/media/coronavirus_Crown.jpg" />
    <meta property="og:description"   content="ماذا تعرف عن فايروس الكورونا؟ اختبر معلوماتك الآن!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>كورونا!</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=193116785468625&autoLogAppEvents=1"></script>
    <h1>اختبر معلوماتك حول كورونا!</h1>
    <div id="stem"></div>
    
    <div id="answers">
    </div>
    
    <div id="explanation">
        
    </div>
    
    <button id="another-one" >
        السؤال التالي
    </button>
    
    <div id="question-count"></div>
    
    
        
            <form action="/" method="POST">
       <input type="hidden" name="result" id="result-input" value="0" />
       <!-- <input type="hidden" name="newCommer" id="result-input" value=false /> -->
       <button id="get-result" style="
            display: none;
            border:none;
            cursor: pointer;
            width: 300px;
            height:150px;
            border-radius: 5px;
            font-size: 2em;
            position: fixed;
            right: calc(50vw - 150px);
            top: calc(50vh - 75px); 
            color:white;
            font-weight: bold;
            background: rgba(100, 100, 255, 0.3);">الحصول على النتيجة</button>
        </form>
       
    
    </body>
    
    <script src="script.js"></script>
    </html>