body{
    direction: rtl;
    font-size: 1.2em;
    background: rgba(10,10,10,1);
    color: white;
    padding: 10px;
}
#stem{
    text-align: center;
}
h1{
    text-align: center;
}
#answers{
    text-align: center;
}
.choice{
    width:85%;
    margin: 2.5px auto;
    padding: 5px;
    list-style: none;
    border: solid thin white;
    background:white;
    color:black;
    border-radius: 1px;
    cursor: pointer;
    text-align: center;
    transition: 500ms;
    z-index: 0;
    line-height: 1em;
}
.choice:hover{
    background:gold;
}
.correct{
    background:gold;
    color:black;
    font-weight: bold;
    /* animation: correct 1s 1 alternate; */
    z-index: 1000;
    box-shadow: 0 0 3px 10px goldenrod;
    margin-top: 20px;
    margin-bottom: 20px;
}
@keyframes correct{
    0%{transform: scale(1.1);}
    100%{transform: scale(1);}
}
.incorrect{
    /* text-decoration: line-through; */
}
.incorrect:hover{
    background:white;
}
#another-one{
    background:red;
    cursor: pointer;
    position: fixed;
    border:none;
    border-radius: 5px;
    background: #EBF5F6;
    /* filter: opacity(.2); */
    height: 75px;
    width: 150px;
    bottom: 0;
    left: 0;
    font-size: 1em;
    color:black;
    transition: 200ms;
    animation: pulse 1000ms  infinite alternate;
        }
    @keyframes pulse{
     0%     {transform: scale(.8);}
     100%   {transform: scale(1);}   
    }
/* #another-one:hover{
    filter: opacity(1);
} */
#explanation{
    margin-bottom: 20vh;
}
#question-count{
    margin-bottom: -45px;
    position:fixed;
    bottom: 0;
    width: 100px;
    height: 30px;
    background:gray;
    right: calc(50vw - 50px);
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    text-align: center;
    padding-top: 15px;
    transition: 1s;
}

#reveal{
    display:none;
    position: fixed;
    top: 25vh;
    right: 5vw;
    width: 90vw;
    height: 50vh;
    background: white;
    text-align:center;
    border-radius: 15px;
    color: gold;
}

#enter-name{
    margin-top:20%;
}

img{
   margin:0 auto;
}
a{
    color:gray;
    /* text-decoration: none; */
}